.table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 2%;
  }
.th {
    border: 1px solid #00153e;
    align-items: left;
    padding: 8px;
  }
.td {
    border: 1px solid #00153e;
    align-items: left;
    padding: 8px;
  }
  
  .form{
    display: flex;
    flex-direction: column;
  }
  
  .btn2{
    float: right;
  }
  
  .input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    appearance: none;
  }
  .btn {
    align-items: center;
    float: right;
    margin: 5px;
    padding: 2px;
    background-color: rgba(169, 173, 173, 0.866);
    border: 1px solid #00153e;
    border-radius: 7px;
    color: white;
  }
  .error{
    color: red;
    font-size: 20px;
  }